@import '~src/common.blocks/section/section';

.section_sto-standart {
  margin-bottom: 2.5rem;
  .section();

  .wrapper_shrink {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline {
    margin-bottom: 1.3rem;
    text-align: center;
  }

  .description-title {
    margin-bottom: 5.1rem;
    max-width: 98rem;
    font-size: 2.2rem;
    text-align: center;
    color: #354158;
  }

  .description-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #354158;
    opacity: 0.7;
  }
}
