@import '~reset-css/less/reset.less';
@import (css) url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');
@import (css) url('https://fonts.googleapis.com/css?family=Poppins');

@import './imports/media.less';
@import './section/section';
@import './title/title';
@import './scroll-down/scroll-down';

@import './wrapper/_buttons/wrapper_buttons';
@import './wrapper/_shrink/wrapper_shrink';

@import './button/button';
@import './button/_theme_main/_theme_main';
@import './button/_theme_light/button_theme_light';
@import './button/_theme_light-white/button_theme_light-white';
@import './button/_theme_light-black/button_theme_light-black';

@import './card/_theme_light/card_theme_light';
@import './card/_type_column/card_type_column';
@import './card/_theme_dark/card_theme_dark';
@import './card/_theme_tall/card_theme_tall';
@import './card/_theme_media/card_theme_media';
@import './card/_theme_main/card_theme_main';
@import './card/_theme_features-list/card_theme_features-list';

html {
  font-size: 10px;

  @media @under-lg {
    font-size: 8px;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}

button {
  all: unset;
}
