.card_theme_features-list {
  max-width: 60.5rem;

  .card__title {
    margin-bottom: 3.1rem;
    max-width: 45.3rem;
    font-weight: 700;
    line-height: 3.1rem;
    font-size: 3rem;
  }

  .card__description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 1.8rem;
  }

  .card__description-attention {
    color: #fd6700;

    &:after,
    &:before {
      content: ' ';
    }
  }

  .card__image {
    max-width: 15.5rem;
  }

  .card__list {
    padding-left: 2.3rem;
    max-width: 42.6rem;
  }
}
