.page_security {
  .section_articles {
    margin-bottom: 9.8rem;
  }

  .section_details {
    margin-bottom: 4.9rem;
  }

  .section_code-example {
    margin-bottom: 5.9rem;
  }

  .section_footer {
    margin-top: 15rem;
  }

  .section_last-chance {
    margin-bottom: 9rem;
  }

  .section_action-attention {
    margin-bottom: 9.6rem;
  }

  .section_platinum-equivalency {
    margin-bottom: 11rem;
  }

  .section_preface {
    margin-bottom: 9rem;
  }

  .section_reviews {
    margin-bottom: 9rem;
  }

  .section_securities-services {
    margin-bottom: 12.6rem;
  }

  .section_service-providers {
    margin-bottom: 9rem;
  }

  .section_sto-advantages {
    margin-bottom: 6.4rem;
  }

  .section_create-security-token {
    margin-bottom: 9.6rem;
  }

  .section_sto-standart {
    margin-bottom: 5.17rem;
  }

  .section_team {
    margin-bottom: 5.5rem;
  }
}
