@import '~src/common.blocks/section/section';
@import '~src/common.blocks/imports/media.less';

.section_launch-sto {
  .section();
  padding-top: 5.3rem;
  padding-bottom: 5.3rem;
  color: #fff;
  background: linear-gradient(89.81deg, #ffa132 6.79%, #ff6932 96.8%);

  .wrapper_shrink {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline {
    margin-bottom: 4.3rem;
    text-align: center;
  }

  .description {
    margin-bottom: 4.3rem;
    max-width: 83.6rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }

  .button {
    @media @under-sm {
      width: 23.6rem;
    }
  }

  .button {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    width: 32.6rem;
    color: #ff6932;
  }
}
