.page_ieo {
  .section_about {
    padding-top: 5.6rem;
    padding-bottom: 2rem;
  }

  .section_details-ieo {
    margin-bottom: 8rem;
  }

  .section_action-attention-ieo {
    margin-bottom: 8rem;
  }

  .section_articles {
    margin-bottom: 8rem;
  }
}
