@import '~src/common.blocks/imports/media.less';
@import '~src/common.blocks/section/section';

.js-popup__open {
  display: block;
}

.js-popup__close {
  display: none;
}

.popup {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 10, 10, 0.8);
    width: 100%;
    height: 100%;
  }

  &__button-close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
    font-size: 1.3rem;
  }

  &__container {
    position: relative;
    padding: 6rem 3rem 3rem 3rem;
    width: 95%;
    max-width: 130rem;
    min-height: 60rem;
    max-height: 80%;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 1rem;
    line-height: 1;
    background: #ffffff;
    box-shadow: -0.3125rem 0.5rem 0.625rem rgba(0, 0, 0, 0.8);
    color: #000000;

    @media @under-md {
      min-height: 40rem;
      padding: 4rem 3rem 3rem 3rem;
    }

    a {
      color: #000000;
    }
  }
}
