.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;

  &._size_50 {
    padding: 1.1rem;
    font-size: 1.6rem;
  }

  &._size_40 {
    padding: 0.9rem 5rem;
  }
}
