@import '../_type_column/card_type_column';

.card_theme_main {
  .card_type_column();
  align-items: flex-start;

  .card__title {
    margin-bottom: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.4rem;
    font-size: 4rem;
  }

  .card__title-attention {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    line-height: 4.9rem;
    font-size: 4.5rem;
    color: #fd6700;

    &:after,
    &:before {
      content: ' ';
    }
  }

  .card__description {
    margin-bottom: 1.1rem;
    font-weight: 500;
    line-height: 2.7rem;
    font-size: 2.5rem;
  }

  .card__description-item {
    padding-bottom: 0.7rem;
  }

  .card__description-attention {
    font-weight: 500;
    line-height: 3.3rem;
    font-size: 3rem;
    color: #fd6700;

    &:after,
    &:before {
      content: ' ';
    }
  }
}
