@import (css) url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@import (css) url('https://fonts.googleapis.com/css?family=Poppins:500,600');

.page_business {
  color: #fff;

  .headline {
    margin-bottom: 0;
  }

  .title_type_main-attention {
    font-weight: 700;
  }

  .title_type_section-big-attention {
    font-weight: 700;
    color: #fd6700;
  }

  .section_reviews .title_type_section,
  .section_articles .title_type_section,
  .section_team .title_type_section {
    color: #000;
  }

  .section_preface-investment {
    padding-top: 9.5rem;
    padding-bottom: 11.8rem;
  }

  .section_why-us {
    padding-top: 8.6rem;
  }

  .section_who-we-are {
    padding-bottom: 7.5rem;
  }

  .section_platinum-business {
    padding-top: 7.5rem;
    padding-bottom: 9.6rem;
  }

  .section_past-supported-tokens {
    padding-bottom: 10rem;
  }

  .section_reviews {
    margin-bottom: 9rem;
  }

  .section_articles {
    margin-bottom: 9rem;
  }
}
