@import (css) url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@import (css) url('https://fonts.googleapis.com/css?family=Poppins:500,600');

.page_business {
  color: #fff;

  .headline {
    margin-bottom: 0;
  }

  .title {
    &_type_main-attention {
      font-weight: 700;
    }

    &_type_section-big-attention {
      font-weight: 700;
      color: #fd6700;
    }
  }
}
