.companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: -5rem;
  width: 100%;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    width: 15.4rem;
    height: 7.5rem;
  }
}
