.card_theme_navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 1.5rem;
  align-items: center;
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  .card__item {
    padding: 1rem 3.2rem;
    padding-top: 1rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    padding-bottom: 1rem;
    line-height: 2.3rem;
    color: #000;
    font-size: 1.5rem;
    opacity: 0.48;
    text-decoration: none;
    transition: filter 0.1s, opacity 0.1s;
    &:last-child {
      padding-right: 5rem;
    }

    &:hover {
      color: #ff6932;
      opacity: 1;
    }

    .image {
      max-width: 11.6rem;
      max-height: 2.8rem;
    }
  }
}
