.section_team {
  .wrapper_shrink {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline {
    margin-bottom: 5.3rem;
    text-align: center;
  }

  .button {
    font-size: 2rem;
    width: 34.6rem;
    max-width: 90vw;
  }
}
