.section._team {
  margin-bottom: 5.17rem;

  .wrapper._shrink {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline {
    margin-bottom: 5.3rem;
    text-align: center;
  }
}
